<div class="p-grid login">

  <div class="form-login">

    <div class="p-col-12 label" >
      <h1><strong>Login</strong></h1>
    </div>

    <label name="text">E-mail</label><br>

    <input class="p-col-12" type="email" placeholder="Ex: email@email.com" pInputText /><br>

    <label name="text">Senha</label>

    <input class="p-col-12" type="password" placeholder="Senha" pInputText />

  <div class="p-col-2" class="btn-center">
    <p-button class="btn-login" label="Login" ></p-button>
  </div>

  </div>
</div>
